<?xml version="1.0"?>

<model>
  <name>Parking Garage</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    Parking Garage based on original model by michaelwjl available in https://free3d.com/user/michaelwjl
  </description>
</model>